@inherits LayoutComponentBase

<Manero_Customer.Components.SubComponents.Header/>

    @Body

<Manero_Customer.Components.SubComponents.Footer/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
