@page "/account"

<div class="container">
    <h1>Account</h1>
    <div class="account-link">
    <NavLink class="btn-theme" href="account/login">Sign In</NavLink>
    <NavLink class="btn-theme" href="account/register">Sign Up</NavLink>
    </div>
</div>


@code {

}
