@page "/subCategories/{categorie}"
@using Manero_Customer.Data.Models
@using Manero_Customer.Services
@inject HttpClient Http
@inject ProductService productService
@inject SubCategoryService subCategoryService

<div class="container">

<h3>Subcategories for @Categorie</h3>

@if (subcategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var model in models)
        {
            <li>@model.SubCategoryName</li>
            <p>@model.ImageLink</p>
        }
    </ul>
}
</div>

@code {
    [Parameter]
    public string? Categorie { get; set; }
    private List<string> subcategories = new ();
    private List<ProductCategoryModel> products = new ();
    public List<SubCategoryModel> models = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await productService.GetProducts();

            foreach (var product in products)
            {
                if (product.Category == Categorie)
                {
                    if (subcategories.Contains(product.SubCategory!))
                    {
                        continue;
                    }
                    else
                    {
                        subcategories.Add(product.SubCategory!);
                    }
                }
            }

            models = await subCategoryService.SortSubCategoryAsync(subcategories);

        }
        catch (Exception ex)
        {
            // Logga felet eller visa ett felmeddelande
            Console.Error.WriteLine($"Fel vid hämtning av produktdata: {ex.Message}");
        }
    }
}
