@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <_CategorySlider/>
    <div class="content">
        <h2>DiscountBanner place here</h2>
        <_FeaturedProducts />
        <h2>BestSeller Place Here</h2>
        <h2>PromoBanner Place here</h2>
    </div>
</div>
