@page "/product"

<h3>ProductPage</h3>

<section class="ProductPage">
    <div class="container">
        
        <img class="product-image" src="scss/images/testproduct.jpg" alt="book image" />
        
        <div class="product-content">
        <h3>Title:</h3>
        <p>Author:</p>
        <p>Price:</p>
        <h5>Description</h5>
            <p>Amet amet Lorem eu consectetur in deserunt nostrud dolor culpa ad sint amet. Nostrud deserunt consectetur culpa minim mollit veniam aliquip pariatur exercitation ullamco ea voluptate et. Pariatur ipsum mollit magna proident nisi ipsum.</p>
        </div>

        <button class="btn-theme">+ ADD TO CART</button>
    </div>
</section>

@code {
    
}
