
.subContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    .subCategoryItem{
        p {
            color: var(--color-text);
            font-size: 2em;
            margin: 0;
        }
        .imgContainer{

        img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
        }
        
    }
}