:root {
    --color-white: #FFFFFF;
    --color-theme: #DBE3F5;
    --color-main: #000000;
    --color-accent: #F4303C;
    --color-text: #626262;
    --color-star: #FFBE00;
    --color-secondary-text: #B3B9C7;
    --color-danger: #F5D7DA;
    --color-success: #22C55E;
    --color-warning: #EF4444;
    --color-info: #4C82F7;
    --color-danger-bg: #F5D7DA;
    --color-onSale: #69864D;
}
