.all-addresses {
    .container {
        .my-addresses {
            .address-list {

                .address-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px dashed;
                    border-color: var(--color-text);
                    .address-detail {
                        display: grid;
                        margin: 20px 0;

                        .address-title {
                            font-weight: bold;
                        }

                        .addreses {
                            // margin-right: 57px;
                        }
                    }

                    .edit-btn {
                    }
                }

                .btn-placement {
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    margin-top: 15px;
                    .add-address {
                        border-radius: 50%;
                        border: 1px solid;
                        border-color: var(--color-text);
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
