.header {
    border-bottom: 1px solid var(--color-secondary-text);
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;
        a{
            text-decoration: none;
            color: black;
        }
        .shoppingCart{
            display: flex;
            i{
                color: var(--color-text);
                font-size: 24px;

            }
            .circle{
                background-color: var(--color-accent);
                color: var(--color-white);
                border-radius: 50%;
                height: auto;
                width: auto;
                padding: 5px;
            }
        }
    }
}
