
    <div class="containerCart">
        <div class="imgContainer">
            <img src=@ImgUrl alt="Alternate Text" />
        </div>
        <div class="containerText">
            <p>@Title</p>
            <div class="price">
                    @if (@DiscountPrice <= 0)
                    {
                        <p class="normPrice">@Price:-</p>
                    }
                    else
                    {
                        <p class="regPrice">@Price:-</p>
                        <p class="discPrice">@DiscountPrice:-</p>
                    }
            </div>
            <p>@Format</p>
        </div>
        <div class="counter">
            <p>@Quantity</p>
        </div>
    </div>


@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string ImgUrl { get; set; } = null!;
    [Parameter] public string Format { get; set; } = null!;
    [Parameter] public int Price { get; set; }
    [Parameter] public int DiscountPrice { get; set; }
    [Parameter] public int Quantity { get; set; }
}
