@using Manero_Customer.Data.Models
@using Manero_Customer.Services
@inject HttpClient Http
@inject ProductService productService
@inject CategoryService categoryService
@inject FilterService filterService
@inject SharesDataService sharedDataService

<div class="media-scroller snaps-inline">
    @foreach (var model in models)
    {
        <div class="media-element">
        <NavLink href=@($"/subCategories/{model.CategoryName}")>
            <img src="@model.ImageLink" />
            @model.CategoryName</NavLink>
        </div>
    }
</div>

@code {
    public List<string> category = new();
    public List<CategoryModel> models = new();

    public List<string> test = new();

    protected override async Task OnInitializedAsync()
    {
        List<ProductModel> products = new();
        try
        {
            // Hämtar alla produkter från databasen
            products = await productService.GetProducts();
            // 
            category = filterService.FilterCategory(products);
            //
            models = await categoryService.SortCategoryAsync(category);

            sharedDataService.SetCategorie(models);
        }
        catch (Exception ex)
        {
            // Logga felet eller visa ett felmeddelande
            Console.Error.WriteLine($"Fel vid hämtning av produktdata: {ex.Message}");
        }
    }
}
