@rendermode InteractiveServer
<div class="container">
    <div class="containerEmptyCart">
        <img src="https://productsblob.blob.core.windows.net/images/emptyCart.webp" alt="Alternate Text" />
        <h2>Din kundkorg är tom!</h2>
        <p>Det ser inte ut som att du köpt något än...</p>
        <NavLink class="btn-test-th" href="/">Tillbaka till shoppen</NavLink>
    </div>
</div>

