@rendermode InteractiveAuto
<section class="footer" >

    <div class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">
                <i class="fa-regular fa-home"></i>
            </NavLink>
    </div>

    <div class="nav-item not-active">
        <NavLink href="search">
            <i class="fa-regular fa-search"></i>
            </NavLink>
    </div>

    <div class="nav-item not-active">

        <NavLink >
            <i class="fa-regular fa-shopping-bag">

            </i>
            </NavLink>
    </div>
    <div class="nav-item not-active">

        <NavLink href="favorites">
            <i class="fa-regular fa-heart">

            </i>
            </NavLink>
    </div>
    <div class="nav-item">

    <NavLink href="account" >
            <i class="fa-regular fa-user"></i>
            </NavLink>
    </div>
   
        

</section>

@code {
    
   
}
