
<section class="footer" >

    <div class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">
                <i class="fa-regular fa-home"></i>
            </NavLink>
    </div>

    <div class="nav-item not-active">
        <NavLink href="search">
            <i class="fa-regular fa-search"></i>
            </NavLink>
    </div>

    <div class="nav-item">

        <NavLink href="shoppingCart">
            <i class="fa-regular fa-shopping-bag">

            </i>
            </NavLink>
    </div>
    <div class="nav-item not-active">

        <NavLink href="favorites">
            <i class="fa-regular fa-heart">

            </i>
            </NavLink>
    </div>
    
    <div class="nav-item">

        <AuthorizeView>
            <Authorized>
                <NavLink href="/Account/Profile">
                    <i class="fa-regular fa-user"></i>
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item">

                    <NavLink href="/Account/login">
                        <i class="fa-regular fa-arrow-right-to-bracket"></i>
                    </NavLink>

                    <NavLink href="/Account/SignUp">
                        <i class="fa-regular fa-user"></i>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </div>
   
        

</section>

@code {
    
   
}
