<section class="header">
    <div class="container">
        <div class="not-active">

        <i class="fa-duotone fa-bars "></i>
        </div>
        <NavLink href="/">

        <h1>MANERO</h1>
        </NavLink>
        <div class="not-active">
        <i class="fa-regular fa-shopping-bag not-active"></i>
        </div>

    </div>
</section>
@code {

}
