


<section class="header">
    <div class="container">
      <NavLink class="btn-theme" href="/">Home</NavLink>

      <NavLink class="btn-theme" href="#">Products</NavLink>
      <NavLink class="btn-theme" href="account/login">Sign In</NavLink>
      <NavLink class="btn-theme" href="account/register">Sign Up</NavLink>
     
    </div>
</section>
@code {

}
